body {
    display: block;
    margin: 0%;
    font-family: sans-serif;
  }

  header{
    display:flex;
    flex-direction: row;
    margin: 2%;
  }

  .hsLink{
    display:flex;
    width: 100%;
  }
  
  .timeText{
    display:flex;
    justify-content: end;
    margin-right: 1%;
  }

  .intro {
    display: flex;
    justify-content: center;
    /* during quiz-> justify-content: left; */
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
  }

  .ques1, .ques2, .ques3, .ques4, .ques5, .endGame, .hsPage {
    display: none;
    justify-content: left;
    /* during quiz-> justify-content: left; */
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
  }

  .hsPage {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .hsButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  #backBtn{
    margin-right: 1%;
    list-style-type: decimal ;
  }

  #initialScore{
    background-color: rgb(162, 148, 206);
  }

  li{
    background-color: rgb(162, 148, 206);
    margin-bottom: 5%;
    padding:2px
  }
   /* .endGame{
    display: none;
    /* justify-content: left; 
    /* flex-direction: column; 
    /* during quiz-> justify-content: left; 
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
   */ 

  form{
    display: inline;
  }

  p {
    text-align: center;
  }

  .finalScore{
    text-align: left;
    margin-right: 10px;
  }

  #finalScore{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    color: rgb(180, 90, 184);
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin-left: -35px;
  }

  #ansA, #ansB, #ansC, #ansD {
    padding:10%; 
    width:150%; 
  }

  .purpButton {
    background-color: rgb(42, 4, 77);
    color:white;
    margin-bottom: 10%;
    padding: 1%;
    /* answer choices-> padding:10%; */
    /* answer choices-> width:150%; */
    border-radius: 5px;
    border: none;
  }

  .purpButton:hover {
    background-color:rgb(180, 90, 184);
    cursor: pointer;
  }

  .correct, .incorrect {
    display: none;
    color: rgb(184, 184, 184);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    border-top: 2px solid rgb(184, 184, 184) ;
  }



